<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/mylayout}">
<th:block layout:fragment = "css">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</th:block>

<div class="content" layout:fragment="content" style = "height: 850px; padding: 38px 0px; margin-left: 340px; margin-top:50px;">
    <div class="pagetitle" th:style="'display: flex; align-items: center; justify-content: space-between;'">
        <div class="title-container" th:style="'flex-grow: 1;'">
            <h1>채팅</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">채팅</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- End Page Title -->
    <input type = "hidden" name = "cnum" value = "">
    <input type = "hidden" name = "initCnum" th:value = "${cnum}">
    <div class="container">
        <div class="messaging">
            <div class="inbox_msg">
                <div class="inbox_people">
                    <div class = "heading-top" style = "display:flex; justify-content:center; align-content:space-around; flex-wrap: wrap;">
                    <div class="headind_srch">
                        <div class="recent_heading">
                            <!-- 모달 버튼 -->
                            <button id="myBtn" class = "btn-success" onclick = "modalBlock()" style = "width:236px; margin-bottom:14px; border-radius: 8px;">대화 시작하기</button>
                            <!-- 모달 영역-->
                            <div id="myModal" class="modal">
                                <!-- 모달 -->
                                <div class="modal-content">
                                    <span class="close" onclick = "spanNone()">&times;</span>
                                    <form autocomplete="off" method="post" action="/chat/createConversation" onsubmit = "return startConversation()">
                                        <input type = "hidden" name = "mbnum" th:value = "${session.loginInfo.mbnum}">

                                        <div class="autocomplete" style="width:300px;">
                                            <span style = "font-weight:bold; font-size: 20px; color: #198754">대화 시작하기 </span>

                                            <input type="text" class = "form-control" id = "search_area" name="mbnum" placeholder="대화 참여자 검색하고 선택하세요" style = "width: 300px;">
                                            <div id='autoMaker' style = "width:300px;"></div>
                                            <div id = "selected" style = "margin-bottom: 24px; width: 530px;">
                                                <span style = "font-weight:bold; font-size: 18px;">대화 참여자 : </span>
                                            <!--선택된 참여자 표시 -->
                                            </div>
                                            </div>
                                        <span style = "font-weight:bold; font-size: 18px;">대화명 : </span>
                                        <input class = "form-control" type = "text" name = "cname" style = "height: 35px; width: 580px; margin-bottom: 12px;">
                                        <span style = "font-weight:bold; font-size: 18px;">메시지 작성 : </span>
                                        <input class = "form-control" type = "text" name = "mcontent" style = "height: 80px; width: 580px; margin-bottom: 12px;">
                                        <div><input type="submit" class = "btn-success" value = "메시지 보내기"></div>
                                    </form>
                                </div>

                            </div>
                            <!-- 두번째 모달 -->
                            <div id="myModal2" class="modal" >
                            <!-- 모달 내용 -->
                                    <form autocomplete="off" method="post" action="/chat/addUsers" onsubmit = "return addUsers()">
                                <div class="modal-content2">
                                    <span class="close2" onclick = "spanNone2()">&times;</span>
                                    <p>추가할 참여자: </p>
                                    <input type="text" class = "form-control" id = "search_area2" name="mbnum" placeholder="대화 참여자 검색하고 선택하세요" style = "width: 300px;">
                                    <div id='autoMaker2' style = "width:300px;"></div>
                                    <div id = "selected2" style = "margin-bottom: 24px; width: 530px;">
                                        <span style = "font-weight:bold; font-size: 18px;">대화 참여자 : </span>
                                        <!--선택된 참여자 표시 -->
                                    </div>
                                    <input type="submit" class = "btn-success" value = "추가하기">
                                </div>
                                    </form>
                            </div>
                        </div>
                        <div class="search_bar">
                            <div class="stylish-input-group">
                                <input type="text" class="search-bar" placeholder="참여자 및 대화명 검색" name = "searchTerm">
                                <span class="input-group-addon">
                                <button type="button" style = "padding: 0px; border: 1px;" onclick = "searchConversation()"> <i class="bi bi-search" aria-hidden="true" style = "background-color: #198754; font-size:20px; padding: 0px 8px 2px 8px;"></i> </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="inbox_chat" id = "inbox">
                        <!--대화 목록-->
                    </div>
                </div>
                <div class="mesgs" style = "height:600px;">
                    <div class = "msg_top" id = "conversationTop">
                        <!-- 대화정보 들어갈 영역-->
                        <p id = "conversationName" style = "font-size:20px; font-weight:bold; color: #198754;">채팅을 선택하거나 새 대화를 시작하세요.</p>
                        <p id = "conversationParticipants" style = "border-bottom:1px solid #198754; font-size:14px; font-weight:bold;">
                        </p>
                    </div>
                    <div class="msg_history" id = "msg_history" style = "height: 430px;">
                        <!--메시지를 들어가는 부분-->
                    </div>
                    <div id = "inputBox">
                        <!--입력 박스 들어가는 부분-->
                    </div>
                </div>
            </div>


        </div></div>
</div>
<th:block layout:fragment = "script">

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.3.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script>
$(document).ready(  function() {
	//connectWS();
	//connectSockJS();
	console.log('Connected!');
	connectStomp(); //페이지 로딩 될때 stomp연결하는 함수 바로 호출.

	$('.chatList').click(function(evt) {
	    $('.chatList').each(function(){
	        $(this).removeClass("active_chat");
	    });
	    $(this).addClass("active_chat");
        evt.preventDefault();
        if (!isStomp && socket.readyState !== 1) return;

        var id = $('input[id="name"]').val();
        if (isStomp) {

        } else {

        }
    });

    $('#search_area').keyup(function(){
        var txt = $(this).val();
        if(txt != ''){  //빈줄이 들어오면
            $('#autoMaker').children().remove();

            allUsers.forEach(function(args){
                if(args.indexOf(txt) > -1 ){
                    $('#autoMaker').append(
                        $('<div>').text(args)
                    );
                    var mbnumText = '<input type = "hidden" value = "'
                                        + allMbnum[allUsers.indexOf(args)]
                                        + '" name = "'
                                        + args
                                        + '">';
                    $('#autoMaker').append(mbnumText);
                }
            });
            $('#autoMaker').children().each(function(){
                $(this).click(function(){
                    $('#search_area').val($(this).text());
                    $('#autoMaker').children().remove();
                    var mbnumber = allMbnum[allUsers.indexOf($(this).text())];
                    var selectedUser = '<span class = "selectedUser" id = "selectedUser' + mbnumber + '">' + $(this).text()
                                        + '<span class = "closeSelectedUser" onclick = "userSpanClose(' + mbnumber +')">x</span>'
                                        + '<input type = "hidden" class = "addedUsers" name = "mbnum" value = "'
                                        + mbnumber
                                        + '"></span>'
                    $('#selected').append(selectedUser);
                    $('#search_area').val("");
                });
            });
        } else {
            $('#autoMaker').children().remove();
        }
    });


 $('#search_area2').keyup(function(){
        var txt = $(this).val();
        if(txt != ''){  //빈줄이 들어오면
            $('#autoMaker2').children().remove();

            convUsers.forEach(function(args){
                if(args.indexOf(txt) > -1 ){
                    $('#autoMaker2').append(
                        $('<div>').text(args)
                    );
                    var mbnumText = '<input type = "hidden" value = "'
                                        + convMbnum[convUsers.indexOf(args)]
                                        + '" name = "'
                                        + args
                                        + '">';
                    $('#autoMaker2').append(mbnumText);
                }
            });
            $('#autoMaker2').children().each(function(){
                $(this).click(function(){
                    $('#search_area2').val($(this).text());
                    $('#autoMaker2').children().remove();
                    var mbnumber = convMbnum[convUsers.indexOf($(this).text())];
                    var selectedUser = '<span class = "selectedUser" id = "selectedUser' + mbnumber + '">' + $(this).text()
                                        + '<span class = "closeSelectedUser" onclick = "userSpanClose(' + mbnumber +')">x</span>'
                                        + '<input type = "hidden" class = "addedUsers" name = "mbnum" value = "'
                                        + mbnumber
                                        + '"></span>'
                    $('#selected2').append(selectedUser);
                    $('#search_area2').val("");
                });
            });
        } else {
            $('#autoMaker2').children().remove();
        }
    });
    var cnum = $('input[name=initCnum]').val();
    if(cnum){
        var timesRun = 0;
        var interval = setInterval(function(){
        timesRun += 1;
        if(timesRun === 2){
            clearInterval(interval);
        }
        highlight(cnum);
        }, 110);
    }
});

var allUsers = [];
var allMbnum = [];
var convUsers = [];
var convMbnum = [];
var socket = null;
var isStomp = false;

function connectStomp() { //연결해주는 함수
	var sock = new SockJS("/stompTest"); // endpoint 맞아야된다! config파일에 지정된거
    var client = Stomp.over(sock);
	isStomp = true;
	socket = client;
    var mbnum = $('input[name="mbnum"]').val();

    client.connect({}, function () { //연결!
        console.log("Connected stompTest!");
        // Controller's MessageMapping, header, message(자유형식)
        getConversation();
        var mbnum = $('input[name="mbnum"]').val();

        socket.subscribe('/topic/receiveMessage/' + mbnum, function(event){ //메시지 받을 준비 - 미리 연결 해준다.
            var data = JSON.parse(event.body);
            console.log("receiveData", data);
            //원래 선택 되어있던 대화번호.
            var mbnum = $('input[name="mbnum"]').val();
            //현재 선택된 대화번호
            var cnum = $('input[name="cnum"]').val();
            var sendData = mbnum + "/" + cnum;

            if(cnum == data.cnum){
                //socket.send('/chat/message', {}, sendData);
                highlight(cnum);
            }
            getConversation();
            socket2.send("/chat/getTotalUnreadCount", {}, mbnum);
            socket2.send("/chat/getRecentConversations", {}, mbnum);
            //socket.send('/chat/conversation/', {}, mbnum);

        }); //subscribe

        socket.send('/chat/allUsers', {}, mbnum);
        socket.subscribe('/topic/allUsers', function(event){
            var data = JSON.parse(event.body);
            console.log("USERDATA", data);
            allUsers = [];
            allMbnum = [];
            i = 0;
            $('#myInput').empty();
             $.each(data, function(){
                allUsers[i] = this.mbname + " (" + this.mblevel + " / " + this.dept + ")" ;
                allMbnum[i] = this.mbnum;
                i++;
             });
        }); //subscribe
    });



}

function getConversation(){
    var mbnum = $('input[name="mbnum"]').val();
    console.log("mbnum", mbnum);
    socket.send('/chat/conversation', {}, mbnum);
    $('#inbox').empty();
    // 해당 토픽을 구독한다!
    socket.subscribe('/topic/conversation/' + mbnum, function(event){
        console.log("event:" , event);
        var data = JSON.parse(event.body);
        console.log("data:", data)
        var messageTemplateHTML = "";
        var cnum = $('input[name="cnum"]').val();
        $.each(data, function(){
            if(cnum == this.cnum){
                messageTemplateHTML += '<a href = "#" class = "chatList"'
                                    + '><div class="chat_list active_chat" id = "chat' + this.cnum + '" onclick = "highlight(' + this.cnum + ')">'
                                    + '<div class="chat_people">'
                                    + '<div class="chat_ib">'
                                    + '<h5 id = "convName' + this.cnum +'">대화명: ' + this.cname +  '<span class="chat_date">안 읽은 메시지 수 : ' + this.unreadCount+ ' </span></h5>'
                                    + '<p>' + this.recentSenderName  + ' : ' + '"' + this.recentMsg +  '"' + '</p></div></div></div></a>';
            } else {
                    messageTemplateHTML += '<a href = "#" class = "chatList"'
                                    + '><div class="chat_list" id = "chat' + this.cnum + '" onclick = "highlight(' + this.cnum + ')">'
                                    + '<div class="chat_people">'
                                    + '<div class="chat_ib">'
                                    + '<h5 id = "convName' + '">대화명: ' + this.cname +  '<span class="chat_date">안 읽은 메시지 수 : ' + this.unreadCount+ ' </span></h5>'
                                    + '<p>' + this.recentSenderName  + ' : ' + '"' + this.recentMsg +  '"' + '</p></div></div></div></a>';
            }
        });
        $('#inbox').html(messageTemplateHTML);

    }); //subscribe
}

function highlight(num){ //대화 선택시 실행되는 함수,
    $('input[name=searchTerm]').val("");
    console.log("chatList", chatList);
    $('input[name=cnum]').val(num);

    //해당 대화의 메시지 모든 읽음으로 변경
    //대화를 가져오기.
    $('#msg_history').empty();
    var mbnum = $('input[name="mbnum"]').val();
    var sendData = mbnum + "/" + num; //보낼 직원 번호, 대화번호 합쳐서 보낸다. MessageMapping에는 세션 접근 불가능
    socket.send('/chat/message', {}, sendData);
    socket.subscribe('/topic/message/' + mbnum, function(event){
        var data = JSON.parse(event.body);
        console.log("message Data:" , data);
        var messageBoxHtml = "";
        $.each(data, function(){
            var loginName = this.loginName;
            if(this.sender == this.loginName){ //메시지 보낸 이름이 본인 인지
                if(this.mcontent == '메시지가 삭제 되었습니다.'){
                    messageBoxHtml += '<div class="outgoing_msg"><div class="sent_msg"><p style = "color: red; font-style: italic;"><i class="bi bi-exclamation-circle"></i>'
                                + this.mcontent
                                + '</p><span class="time_date">'
                              + this.mtime
                              + '<br>' + this.sender + ' (' + this.mblevel + ')'
                                + '</span></div></div>';
                } else {
                    messageBoxHtml += '<div class="outgoing_msg"><div class="sent_msg"><p>'
                                + this.mcontent
                                + '</p><span class="time_date">'
                              + this.mtime
                              + '<br>' + this.sender + ' (' + this.mblevel + ')'
                              + '<a href = "#" style = "color: red" onClick = "deleteMessage('
                              + this.mnum
                              + ')">삭제</a>'
                                + '</span></div></div>';
                }
            } else { //받는 메시지 생성.
                if(this.mcontent == '메시지가 삭제 되었습니다.'){
                    messageBoxHtml += '<div class="incoming_msg"><div class="incoming_msg_img"></div><div class="received_msg"><div class="received_withd_msg"><p style = "color: red; font-style: italic;"><i class="bi bi-exclamation-circle"></i>'
                                    + this.mcontent
                                    + '</p><span class="time_date">'
                                    + this.mtime
                                    + '<br>' + this.sender + ' (' + this.mblevel + ')'
                                    + '</span></div></div></div>';
                } else {
                    messageBoxHtml += '<div class="incoming_msg"><div class="incoming_msg_img"></div><div class="received_msg"><div class="received_withd_msg"><p>'
                                    + this.mcontent
                                    + '</p><span class="time_date">'
                                    + this.mtime
                                    + '<br>' + this.sender + ' (' + this.mblevel + ')'
                                    + '</span></div></div></div>';
                }
            }
        });

        $('#msg_history').html(messageBoxHtml);

    });
    var inputBox = '<div class= "type_msg">'
                        + '<div class="input_msg_write">'
                        + '<input type="text" name = "mcontent2" id = "messageText" onkeyup = "enterCheck(event)" class="write_msg" style = "border:rgb(169, 169, 169) solid !important;"/>'
                        + '<button class="msg_send_btn" type="button" onclick = "sendMessage()" style = "margin-right: 15px; margin-top: 10px;"><i class="bi bi-send-fill"></i></button>'
                        + '</div></div>';
    $('#inputBox').html(inputBox);
    var timesRun = 0;
    var interval = setInterval(function(){
    timesRun += 1;
    if(timesRun === 3){
        clearInterval(interval);
    }
    updateScroll();
    updateNav();
    }, 110);

    //선택한 대화 표시 - 색갈 변경해준다.
    var chatList = document.getElementsByClassName("chat_list");
    for(i = 0; i < chatList.length; i++){
        chatList[i].classList.remove("active_chat");
    }
    var selected = document.getElementById("chat" + num);
    if(selected != null){
        selected.classList.add("active_chat");
    }


    //선택한 대화명 + 참여자 가져오기.
    socket.send('/chat/conversationInfo', {}, sendData);
    socket.subscribe('/topic/conversationInfo/' + mbnum, function(event){
        var data = JSON.parse(event.body);
        console.log("ConversationInfo", data);
        $('#conversationParticipants').empty();
        $('#conversationParticipants').append('<div></div><span>대화 참여자: </span>');
        $.each(data, function(){
            $('#conversationParticipants').append(this.pname + " ");
            $('#conversationName').html(this.cname + '<span style = "float:right;"><button id="myBtn2" onclick = "modalBlock2()" class = "convButton" style = "margin-right: 8px;">참여자 추가하기</button><button class = "convButton" onclick = "leaveConvo()">대화 나가기</button></span>');
        });
    });

    //선택한 대화의 참여자 미포함된 직원 목록
    socket.send('/chat/convUsers', {}, num);
    socket.subscribe('/topic/convUsers', function(event){
        var data = JSON.parse(event.body);
        console.log("CONVUSERS", data);
        convUsers = [];
        convMbnum = [];
        i = 0;
        $('#myInput2').empty();
         $.each(data, function(){
            convUsers[i] = this.mbname + " (" + this.mblevel + " / " + this.dept + ")" ;
            convMbnum[i] = this.mbnum;
            i++;
         });
    });
}

function sendMessage(){ //메시지 보내는 함수
    var mbnum = $('input[name="mbnum"]').val();
    //현재 선택된 대화번호
    var cnum = $('input[name="cnum"]').val();
    var mcontent = $('input[name="mcontent2"]').val();
    var sendData = mbnum + "/" + cnum + "/" + mcontent;
    socket.send('/chat/sendMessage', {}, sendData);
    $('input[name="mcontent2"]').val('');
    socket.subscribe('/topic/receiveMessage/' + mbnum, function(event){
        var data = JSON.parse(event.body);
        console.log("receiveData", data);
        //원래 선택 되어있던 대화번호.
        var mbnum = $('input[name="mbnum"]').val();
        //현재 선택된 대화번호
        var cnum = $('input[name="cnum"]').val();
        var sendData = mbnum + "/" + cnum;

        if(cnum == data.cnum){
            //socket.send('/chat/message', {}, sendData);
            highlight(cnum);
        }
        getConversation();
        //socket.send('/chat/conversation/', {}, mbnum);

    }); //subscribe
    var selected = document.getElementById("chat" + cnum);
    if(selected != null){
        selected.classList.add("active_chat");
    }

    var timesRun = 0;
    var interval = setInterval(function(){
    timesRun += 1;
    if(timesRun === 2){
        clearInterval(interval);
    }
    updateScroll();
    document.getElementById("messageText").focus();

    }, 110);

    updateNav();
}

//메시지 많은 경우 스크롤바 제일 밑으로 설정해준다.
function updateScroll(){
    var messageBody = document.querySelector('#msg_history');
    messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;
}

function enterCheck(e){
    //enter치면 메시지 전송
    if (e.key === 'Enter' || e.keyCode === 13) {
        sendMessage();
    }
}


function updateNav(){
    var mbnum = $('input[name="mbnum"]').val();
    socket2.send("/chat/getTotalUnreadCount", {}, mbnum);
    socket2.send("/chat/getRecentConversations", {}, mbnum);
}

// 모달 가져오기
var modal = document.getElementById("myModal");
// 모달 버튼 가져오기
var btn = document.getElementById("myBtn");
// 닫는 span 가져오기
var span = document.getElementsByClassName("close")[0];
// 모달 버튼 누르면 모달 보이게 한다
function modalBlock() {
  $('#myModal').css("display", "block");
}

// <span> (x) 클릭 하면 모달을 닫는다.
function spanNone() {
    $('#myModal').css("display", "none");
    $('#selected').empty();
    $('#search_area').val("");
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

//대화 참여자 추가한거 없어버린다
function userSpanClose(mbnumber){
    $('#selectedUser'+mbnumber).remove();
}
//대화 시작 유효성검사
function startConversation(){
    var mbnumList = $('.addedUsers').val();
    var messageContent = $('input[name="mcontent"]').val();
    var cname = $('input[name=cname]').val();
    if(mbnumList.length < 1){
        alert("대화 참여자 최소 한명 추가하세요");
        return false;
    }
    if(cname == ""){
        alert("대화명 입력하세요");
        return false;
    }
    if(messageContent == ""){
        alert("메시지를 입력하세요");
        return false;
    }
}

function deleteMessage(mnum){
    var answer = confirm("메시지 삭제하겠습니까?");

    if(answer == true){
        var mbnum = $('input[name="mbnum"]').val();
        var sendData = mbnum + "/" + mnum;
        socket.send("/chat/deleteMessage", {}, sendData);
        socket.subscribe("/topic/deleteMessage", function(event){
            var data = JSON.parse(event.body);

        });
    }
}

function searchConversation(){
    var search = $('input[name=searchTerm]').val();
    var mbnum = $('input[name="mbnum"]').val();
    var sendData = search + "/" + mbnum;
    socket.send("/chat/search", {}, sendData);

}

//두번째 모달


// 모달 가져오기
var modal = document.getElementById("myModal2");
// 모달 버튼 가져오기
var btn = document.getElementById("myBtn2");
// 닫는 span 가져오기
var span = document.getElementsByClassName("close2")[0];
// 모달 버튼 누르면 모달 보이게 한다
function modalBlock2() {
  $('#myModal2').css("display", "block");
  var cnum = $('input[name=cnum]').val();
  $('#selected2').append("<input type = 'hidden' name = 'convNum' value = '" + cnum + "'>");
}

// <span> (x) 클릭 하면 모달을 닫는다.
function spanNone2() {
    $('#myModal2').css("display", "none");
    $('#selected2').empty();
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

function addUsers(){
    var mbnumList = $('.addedUsers').val();
    if(mbnumList.length < 1){
        alert("대화 참여자 최소 한명 추가하세요");
        return false;
    }
}

function leaveConvo(){
    var answer = confirm("대화 나가겠습니까?");

    if(answer == true){
        var cnum = $('input[name=cnum]').val();
        var mbnum = $('input[name=mbnum]').val();
        var sendData = cnum + "/" + mbnum;
        socket.send('/chat/leaveConvo', {}, sendData);
        $('.mesgs').empty();
    }
}

    </script>
</th:block>
</html>