<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<div th:fragment="top">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>PixelPro</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
        <!-- Favicons -->
        <link th:href="@{/NiceAdmin/assets/img/favicon.png}" rel="icon">
        <link th:href="@{/NiceAdmin/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">
        <!-- Google Fonts -->
        <link href="https://fonts.gstatic.com" rel="preconnect">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
        <!-- Vendor CSS Files -->
        <link th:href="@{/NiceAdmin/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/NiceAdmin/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
        <link th:href="@{/NiceAdmin/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
        <link th:href="@{/NiceAdmin/assets/vendor/quill/quill.snow.css}" rel="stylesheet">
        <link th:href="@{/NiceAdmin/assets/vendor/quill/quill.bubble.css}" rel="stylesheet">
        <link th:href="@{/NiceAdmin/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
        <link th:href="@{/NiceAdmin/assets/vendor/simple-datatables/style.css}" rel="stylesheet">

        <!--캘린더 api-->
        <link th:href="@{/fullCalendar/jquery.datetimepicker.min.css}" rel="stylesheet">
        <link href='/docs/dist/demo-to-codepen.css' rel='stylesheet' />
        <link href='https://cdn.jsdelivr.net/npm/fullcalendar@3.10.5/dist/fullcalendar.min.css' rel='stylesheet' />
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <!-- Template Main CSS File -->
        <link th:href="@{/NiceAdmin/assets/css/style.css}" rel="stylesheet">
        <!-- =======================================================
        * Template Name: NiceAdmin
        * Updated: May 30 2023 with Bootstrap v5.3.0
        * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
        * Author: BootstrapMade.com
        * License: https://bootstrapmade.com/license/
        ======================================================== -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script
                src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.3.0/sockjs.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
        <script>
        $(document).ready(  function() {
            //connectWS();
            //connectSockJS();
            console.log('Connected!');
            connectStomp2(); //페이지 로딩 될때 stomp연결하는 함수 호출.
        });
        function connectStomp2() { //연결해주는 함수
            var sock = new SockJS("/stompTest"); // endpoint 맞아야된다! config파일에 지정된거
            var client = Stomp.over(sock);
            isStomp2 = true;
            socket2 = client;

            client.connect({}, function () { //연결!
                console.log("CONNECTED");
                var mbnum = $('input[name=mbnumber]').val();
                client.send("/chat/getTotalUnreadCount", {}, mbnum);
                client.subscribe("/topic/getTotalUnread/" + mbnum, function(event){
                    var data = JSON.parse(event.body);
                    console.log("UNREADCOUNT", data);
                    if(data != null || data == "0" || data == 0){
                        $('#unreadBox').html('안읽은 메시지 ' + data+ '개 있습니다.');
                        $('#unreadCount').html(data);
                    } else {
                        $('#unreadBox').html('안읽은 메시지 없습니다.');
                        $('#unreadCount').html('0');
                    }
                });
                client.send("/chat/getRecentConversations", {}, mbnum);
                client.subscribe("/topic/recentConversations/" + mbnum, function(event){
                    var data = JSON.parse(event.body);
                    var conversationHTML = "";
                    $.each(data, function(){
                        conversationHTML += '<li class="message-item"><a href="/chat?cnum=' + this.cnum + '"><i style = "margin: 0px 8px; font-size:20px;" class="bi bi-chat-dots-fill"></i><div>'
                                         + '<h4>대화명 : ' + this.cname +'</h4>'
                                         + '<p>' + this.recentSenderName + ' : "' + this.recentMsg + '"</p>'
                                         + '</div></a></li><li><hr class="dropdown-divider"></li>';
                    });
                    $('#conversationList').html(conversationHTML);
                });
            });
        }

        var socket2 = null;
        var isStomp2 = false;
    </script>
    </head>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="d-flex align-items-center justify-content-between">
            <a href="/home" class="logo d-flex align-items-center">
                <img src="assets/img/logo.png" alt="">
                <span class="d-none d-lg-block">PixelPro</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->
        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <!-- 알림 아이콘-->
                <li class="nav-item dropdown">
                    <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-bell"></i>
                        <span class="badge bg-primary badge-number">0</span>
                    </a><!-- End Notification Icon -->
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                        <!-- 알림 내역 작성 -->
                    </ul><!-- End Notification Dropdown Items -->
                </li><!-- End 알림 -->
                <!-- 메세지 아이콘-->
                <div th:if = "${session.loginInfo != null}">
                <li class="nav-item dropdown" style = "margin-top:22px;">

                    <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-chat-left-text"></i>
                        <span class="badge bg-success badge-number" id = "unreadCount"></span>
                    </a><!-- End Messages Icon -->.
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages" style = "280px;">
                        <li class="dropdown-header" id = "unreadBox">

                            <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <div id = "conversationList">

                        </div>
                        <li class="dropdown-footer">
                            <a href="/chat" style = "color:#198754; text-decoration:none">메시지 보기</a>
                        </li>
                    </ul><!-- End Messages Dropdown Items -->
                    <input type = "hidden" name = "mbnumber" th:value = "${session.loginInfo?.mbnum}">
                </li><!-- End 메세지 -->
                </div>
                <!-- 프로필 아이콘 -->
                <span th:if="${session.loginInfo == null}"><a href="/login"><button type="button" class="btn btn-success">로그인</button></a></span>
                <li class="nav-item dropdown pe-3">
                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <span class="d-none d-md-block dropdown-toggle ps-2" th:if="${session.loginInfo != null}" th:text="${session.loginInfo.mbname}"></span>
                    </a><!-- End Profile Iamge Icon -->
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6 th:if="${session.loginInfo != null}" th:text="${session.loginInfo.mbname}"></h6>
                            <span th:if="${session.loginInfo != null}" th:text="${session.loginInfo.dept + ' ' + session.loginInfo.mblevel}"></span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                                <i class="bi bi-person"></i>
                                <span>내 프로필</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/logout">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>로그아웃</span>
                            </a>
                        </li>
                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End 프로필 -->
            </ul>
        </nav><!-- End Icons Navigation -->
    </header><!-- End Header -->
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item">
                <a class="nav-link " href="/home" >
                    <i class="bi bi-grid"></i>
                    <span>Home</span>
                </a>
            </li><!-- End Dashboard Nav -->
            <!-- 메일 -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="/mail/inbox">
                    <i class="bi bi-envelope"></i><span>메일</span></i>
                </a>
            </li><!-- End 메일 -->
            <!-- 채팅 -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="/chat">
                    <i class="bi bi-chat-right-dots"></i><span>채팅</span></i>
                </a>
            </li><!-- End 채팅 -->
            <!-- 결재 -->
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#approval-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-clipboard"></i><span>결재</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="approval-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/approval/gapprovalList">
                            <i class="bi bi-circle"></i><span>일반 결재 - 결재 올리기</span>
                        </a>
                        <a href="/approval/gapprovalToMeList">
                            <i class="bi bi-circle"></i><span>일반 결재 - 요청 목록</span>
                        </a>
                        <a href="/approval/atapprovalList">
                            <i class="bi bi-circle"></i><span>근태 결재 - 결재 올리기</span>
                        </a>
                        <a href="/approval/atapprovalToMeList">
                            <i class="bi bi-circle"></i><span>근태 결재 - 요청 목록</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- End 결재 -->

            <!-- 근태 -->
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#attendance-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-clipboard"></i><span>근태</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="attendance-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li th:with="loginInfo=${session.loginInfo}">
                        <a href="/attendance/attendanceCheck">
                            <i class="bi bi-circle"></i><span>출/퇴근 & 근태 통계</span>
                        </a>
                        <span th:if="${loginInfo != null and loginInfo.dept == '인사팀'}"><a href="/attendance/attendanceIList"><i class="bi bi-circle"></i>근태 목록</a></span>
                        <span th:unless="${loginInfo != null and loginInfo.dept == '인사팀'}"><a href="/attendance/attendanceGList"><i class="bi bi-circle"></i>근태 목록</a></span>
                    </li>
                </ul>
            </li>
            <!-- End 근태 -->

            <!-- 일정 -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="/calendar/main">
                    <i class="bi bi-calendar-event"></i><span>일정</span>
                </a>
            </li>
            <!-- End 일정 -->

            <!--급여-->
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-cash-stack"></i><span>급여</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="forms-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/selectList">
                            <i class="bi bi-circle"></i><span>급여계산/대장</span>
                        </a>
                    </li>
                    <li>
                        <a href="/oneList">
                            <i class="bi bi-circle"></i><span>개인별 급여조회</span>
                        </a>
                    </li>
                    <li>
                        <a href="/resign/oneList">
                            <i class="bi bi-circle"></i><span>퇴직금 계산/대장</span>
                        </a>
                    </li>
                    <li>
                        <a href="/resign/resignList">
                            <i class="bi bi-circle"></i><span>퇴직금 추계액</span>
                        </a>
                    </li>

                </ul>
            </li><!-- End 급여 -->

            <!-- 공지 -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="/notice/list">
                    <i class="bi bi-megaphone"></i><span>공지</span>
                </a>
            </li>
            <!-- End 공지 -->

            <!-- 커뮤니티 -->
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#community-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-people"></i><span>커뮤니티</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="community-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="">
                            <i class="bi bi-circle"></i><span>동아리</span>
                        </a>
                    </li>
                    <li>
                        <a href="/community/free/list">
                            <i class="bi bi-circle"></i><span>익명게시판</span>
                        </a>
                    </li>
                    <li>
                        <a href="/community/secondhand/list">
                            <i class="bi bi-circle"></i><span>중고장터</span>
                        </a>
                    </li>
                </ul>
            </li><!-- End 커뮤니티 -->

        </ul>
    </aside><!-- End Sidebar-->
</div>
</html>