<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/mylayout}">
<head><title>PixelPro</title></head>

<body class="content" layout:fragment="content">
<main id="main" class="main">
  <!--test-->
  <div class="pagetitle">
    <h1>근태 결재 - 결재 올리기</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/approval/gapprovalList">결재</a></li>
        <li class="breadcrumb-item active">근태 결재 - 결재 올리기</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <button type="button" class="btn btn-success" onClick="location.href='/approval/atapprovalInsert'">결재 서류 작성</button>

  <div class="card">
    <div class="card-body">
      <!-- Bordered Tabs Justified -->
      <ul class="nav nav-tabs nav-tabs-bordered d-flex" id="borderedTabJustified" role="tablist">
        <li class="nav-item flex-fill" role="presentation">
          <button class="nav-link w-100 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-home" type="button" role="tab" aria-controls="home" aria-selected="true">결재 완료</button>
        </li>
        <li class="nav-item flex-fill" role="presentation">
          <button class="nav-link w-100" id="profile-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-profile" type="button" role="tab" aria-controls="profile" aria-selected="false">결재 진행 중</button>
        </li>
      </ul>
      <div class="tab-content pt-2" id="borderedTabJustifiedContent">
        <div class="tab-pane fade show active" id="bordered-justified-home" role="tabpanel" aria-labelledby="home-tab">
          <table class="table datatable">
            <thead>
            <tr>
              <th scope="col">번호</th>
              <th scope="col">유형</th>
              <th scope="col">사유</th>
              <th scope="col">진행 상태</th>
              <th scope="col">신청일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="atapproval, atapprovalStat : ${atapprovalList}" th:if="${atapproval.atstatus.contains('승인 완료')}">
              <td th:text="${atapprovalList.size() - atapprovalStat.index}"></td>
              <td th:text="${atapproval.atcategory}"></td>
              <td th:text="${atapproval.atcontent}"></td>
              <td th:text="${atapproval.atstatus}"></td>
              <td th:text="${atapproval.reqdate}"></td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="tab-pane fade" id="bordered-justified-profile" role="tabpanel" aria-labelledby="profile-tab">
          <table class="table datatable">
            <thead>
            <tr>
              <th scope="col">번호</th>
              <th scope="col">유형</th>
              <th scope="col">사유</th>
              <th scope="col">진행 상태</th>
              <th scope="col">신청일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="atapproval, atapprovalStat : ${atapprovalList}" th:if="${atapproval.atstatus.contains('승인 요청')}">
              <td th:text="${atapprovalList.size() - atapprovalStat.index}"></td>
              <td th:text="${atapproval.atcategory}"></td>
              <td th:text="${atapproval.atcontent}"></td>
              <td th:text="${atapproval.atstatus}"></td>
              <td th:text="${atapproval.reqdate}"></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div><!-- End Bordered Tabs Justified -->
    </div>
  </div>
</main><!-- End #main -->
</body>