<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/mylayout}">
<head><title>PixelPro</title></head>

<th:block layout:fragment="script">
  <script th:inline = "javascript">
    function appreturn(ganum){
      //alert(ganum);
      var openWin = window.open("/approval/gapprovalAppreturn?ganum=" + ganum, "_blank", "width=500, height=500, left=300");
    }

</script>
</th:block>

<body class="content" layout:fragment="content">
<main id="main" class="main">

  <div class="pagetitle">
    <h1>일반 결재</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/approval/gapprovalList">결재</a></li>
        <li class="breadcrumb-item active">일반 결재</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
  <p align="right">
    <button type="button" class="btn btn-danger" th:if="${gapproval.ghmbnum == session.loginInfo.mbnum}" th:onclick="|appreturn('${gapproval.ganum}')|">반려</button>
    <button type="button" class="btn btn-success" th:if="${gapproval.ghmbnum == session.loginInfo.mbnum}" th:onclick="|location.href='@{/approval/gapprovalSign(ganum=${gapproval.ganum})}'|">승인</button>
    <a href="javascript:window.print()" class="btn btn-success me-1"> <i class="bi bi-printer-fill"></i></a>
  </p>
  <table style="border-collapse: collapse; width: 30%; border-width: 1px; margin-right: 0px; margin-left: auto; height: 88.7968px;" border="1">
    <colgroup>
      <col style="width: 33.2762%;">
      <col style="width: 33.2762%;">
      <col style="width: 33.2762%;" th:if="${member2 != null}">
    </colgroup>
  <tbody>
  <tr style="height: 22.3984px;">
    <td style="border-width: 1px; height: 22.3984px;" th:text="${member.mbname}"></td>
    <td style="border-width: 1px; height: 22.3984px;" th:text="${member1.mbname}"></td>
    <td style="border-width: 1px; height: 22.3984px;" th:if="${member2 != null}" th:text="${member2.mbname}"></td>
  </tr>
  <tr style="height: 66.3984px;" th:utext="${gapproval.signcontent}">
  </tr>
  </tbody>
  </table>
  <br>
  <div th:utext="${gapproval.gcontent}"></div>
</main><!-- End #main -->
</body>