<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/mylayout}">
<head><title>PixelPro</title></head>

<body class="content" layout:fragment="content">
<main id="main" class="main">
  <!--test-->
  <div class="pagetitle">
    <h1>일반 결재 - 요청 목록</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/approval/gapprovalList">결재</a></li>
        <li class="breadcrumb-item active">일반 결재 - 요청 목록</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
  <div class="card">
    <div class="card-body">
      <table class="table datatable">
            <thead>
            <tr>
              <th scope="col">번호</th>
              <th scope="col">제목</th>
              <th scope="col">진행 상태</th>
              <th scope="col">작성일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="gapproval, gapprovalStat : ${gapprovalList}">
              <td th:text="${gapprovalList.size() - gapprovalStat.index}"></td>
              <td>
                <a th:href="@{/approval/gapprovalDetail(ganum=${gapproval.ganum})}" th:text="${gapproval.gsubject}"></a>
              </td>
              <td th:text="${gapproval.gstatus}"></td>
              <td th:text="${gapproval.gdate}"></td>
            </tr>
            </tbody>
          </table>
        </div>
  </div>
</main><!-- End #main -->
</body>