<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/mylayout}">
<th:block layout:fragment="script">
    <script th:inline = "javascript">
        $(document).ready(function () {

            var emailIsUnique = false;

        $('#checkEmailBtn').click(function () {
            var email = $('#email').val();

            if(email != ""){
                $.ajax({
                type: 'GET',
                url: '/member/emailcheck',
                data: { email: email },
                success: function (data) {
                    var result = JSON.parse(data);
                    if (result.exists) {
                        $('#emailCheckResult').text('이미 사용 중인 이메일입니다.');
                        emailIsUnique = false;
                    } else {
                        $('#emailCheckResult').text('사용 가능한 이메일입니다.');
                        emailIsUnique = true;
                    }
                },
                error: function () {
                    $('#emailCheckResult').text('이메일 중복 체크에 실패했습니다.');
                    emailIsUnique = false;
                }
            });
            }else{
                alert("이메일을 입력해 주세요")
            }


        });

         $('form').submit(function (event) {
            if (!emailIsUnique) {
                event.preventDefault();
                alert('이메일 중복 체크를 먼저 수행해주세요.');
            }
        });

    });
    </script>
</th:block>

<div class="content" layout:fragment="content">


    <div class="container">

        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                        <div class="d-flex justify-content-center py-4">
                            <a href="index.html" class="logo d-flex align-items-center w-auto">
                                <img src="assets/img/logo.png" alt="">
                                <span class="d-none d-lg-block">NiceAdmin</span>
                            </a>
                        </div><!-- End Logo -->

                        <div class="card mb-3">

                            <div class="card-body">

                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">사원등록</h5>
                                    <p class="text-center small">인적사항을 등록해 주세요</p>
                                </div>

                                <form  class="row g-3 needs-validation" name="myform" action="/member/regist" method="post" novalidate enctype = "multipart/form-data">
                                    <div class="col-12">
                                        <label for="mbname" class="form-label">이름</label>
                                        <input type="text" name="mbname" class="form-control" id="mbname" required>
                                        <div class="invalid-feedback">이름을 입력해 주세요</div>
                                    </div>

                                    <div class="col-12">
                                        <label for="email" class="form-label">Email</label>
                                        <input type="email" name="email" class="form-control" id="email" required>
                                        <div class="invalid-feedback">올바른 이메일 형식으로 입력해 주세요! ex)xxx@xxx</div>
                                        <button type="button" id="checkEmailBtn">이메일 중복 확인</button>
                                        <div id="emailCheckResult"></div>
                                    </div>

                                    <div class="col-12">
                                        <label for="password" class="form-label">비밀번호</label>
                                        <input type="password" name="password" class="form-control" id="password"
                                               required>
                                        <div class="invalid-feedback">비밀번호를 입력해 주세요!</div>
                                    </div>

                                    <div class="col-12">
                                        <label for="mbphone" class="form-label">전화번호</label>
                                        <div class="input-group has-validation">
                                            <input type="tel" name="mbphone" class="form-control" id="mbphone" pattern="^(01[016789])-([0-9]{3,4})-([0-9]{4})$" required>
                                            <div class="invalid-feedback">올바른 전화번호 형식으로 입력해 주세요! ex)xxx-xxxx-xxxx</div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label for="dept" class="form-label">부서</label>
                                        <div class="input-group has-validation">
                                            <select class="form-select" id="dept" name="dept" required>
                                                <option value="">부서를 선택하세요</option>
                                                <option value="인사팀">인사팀</option>
                                                <option value="개발팀">개발팀</option>
                                                <option value="기획팀">기획팀</option>
                                                <option value="영업팀">영업팀</option>
                                                <option value="재무팀">재무팀</option>
                                            </select>
                                            <div class="invalid-feedback">부서를 선택하세요.</div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label for="mblevel" class="form-label">직급</label>
                                        <div class="input-group has-validation">
                                            <select name="mblevel" id="mblevel" class="form-select" th:field="${member.mblevel}" required>
                                                <option value="">직급을 선택하세요</option>
                                                <option th:each="mblevel : ${mblevel}" th:value="${mblevel}" th:text="${mblevel}"></option>
                                            </select>
                                            <div class="invalid-feedback">직급을 선택하세요.</div>
                                        </div>
                                    </div>


                                    <div class="col-12">
                                        <label for="msalary" class="form-label">연봉</label>
                                        <div class="input-group has-validation">

                                            <input type="number" name="msalary" class="form-control" id="msalary"
                                                   required>
                                            <div class="invalid-feedback">연봉을 입력해주세요.</div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label for="mbsignfile" class="form-label">사인</label>
                                        <div class="input-group has-validation">

                                            <input type="file" name="mbsignfile" class="form-control" id="mbsignfile"
                                                   required>
                                            <div class="invalid-feedback">사인을 등록해 주세요.</div>
                                        </div>
                                    </div>


                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" type="submit">등록하기</button>
                                    </div>
                                </form>

                            </div>
                        </div>

                        <div class="credits">
                            <!-- All the links in the footer should remain intact. -->
                            <!-- You can delete the links only if you purchased the pro version. -->
                            <!-- Licensing information: https://bootstrapmade.com/license/ -->
                            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                        </div>

                    </div>
                </div>
            </div>

        </section>

    </div>

</div>
</html>