<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/mylayout}">
<head><title>PixelPro</title></head>
<th:block layout:fragment="script">
    <script th:inline = "javascript">
        function reply(elem,ID,fcstep) {
            //답글 입력 창이 평소엔 닫혀있다가 답글 클릭 시 열림
            var inputreply = document.getElementById(ID + ' ' + fcstep);
            console.log(inputreply);
            console.log(ID + ' ' + fcstep);
            if (elem.className !='dropdown-item replybutton') {
                elem.className = 'dropdown-item replybutton';
                inputreply.style.display = "none";
            } else {
                elem.className ='dropdown-item';
                inputreply.style.display = "block";
            }

        }

        function updateComment(elem,ID,fcnum) {
            //수정 클릭 시 열림
            var inputreply = document.getElementById(ID + ' ' + fcnum);
            console.log(inputreply);
            console.log(ID + ' ' + fcnum);
            if (elem.className !='dropdown-item updatebutton') {
                elem.className = 'dropdown-item updatebutton';
                inputreply.style.display = "none";
            } else {
                elem.className ='dropdown-item';
                inputreply.style.display = "block";
            }

        }

        function updateReply(elem,ID,fcnum) {
            //수정(답글) 클릭 시 열림
            var inputreply = document.getElementById(ID + ' ' + fcnum);
            console.log(inputreply);
            console.log(ID + ' ' + fcnum);
            if (elem.className !='dropdown-item updateReply') {
                elem.className = 'dropdown-item updateReply';
                inputreply.style.display = "none";
            } else {
                elem.className ='dropdown-item';
                inputreply.style.display = "block";
            }

        }

        function deletePost() {

            const urlParams = new URL(location.href).searchParams;
            const fnum = urlParams.get('fnum');
            console.log('fnum:'+fnum);

            if(confirm('글을 삭제하시겠습니까?')) {
                window.location.href='/community/free/delete?fnum='+fnum;
            }
            else {
                return false;
            }
        }
    </script>
</th:block>
<div class="content" layout:fragment="content">
    <main id="main" class="main">

        <div class="pagetitle">
            <h1>익명게시판</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a>Home</a></li>
                    <li class="breadcrumb-item"><a>커뮤니티</a></li>
                    <li class="breadcrumb-item active"><a href="/community/free/list">익명게시판</a></li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <div class="card">
            <div class="card-header" style="border-bottom:0; padding:20px;">
                <!-- 제목 -->
                <div style="display:flex; color:#198754;">
                    <h4 style="font-weight:bold;" th:text="|[${free.fcategory}]|"></h4>
                    <h4 style="margin-left:5px; margin-bottom:0;" th:text="${free.ftitle}"></h4>
                </div>

                <!-- 작성일, 조회수, 댓글수 -->
                <div class="meta-top" style="margin-top:5px; color:rgba(33, 37, 41, 0.6);">
                    <ul style="display:flex; flex-wrap:wrap; list-style:none; align-items:center; padding-left:0; margin-bottom:0;">
                        <li class="d-flex align-items-center">
                            <i class="bi bi-clock"></i>
                            <a th:text="${free.fdate}" style="padding-left:5px; color:rgba(33, 37, 41, 0.6);"></a>
                        </li>
                        <li class="d-flex align-items-center">
                            <i class="bi bi-eye" style="padding-left:20px;"></i>
                            <a th:text="|${free.fcount}회|" style="padding-left:5px; color:rgba(33, 37, 41, 0.6);"></a>
                        </li>
                        <li class="d-flex align-items-center">
                            <i class="bi bi-chat-dots" style="padding-left:20px;"></i>
                            <a th:text="|${comment.size()}개|" style="padding-left:5px; color:rgba(33, 37, 41, 0.6);"></a>
                        </li>
                    </ul>
                </div>
                <!-- End 작성일, 댓글수 -->
                <!-- ... | 수정, 삭제 <= 글 작성자에게만 보임 -->
                <div class="filter" style="position:absolute; right:25px; top:20px;" th:if="${free.mbnum == mbnum}">
                    <a class="icon" href="#" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow" style="min-width:4rem;">
                        <li><a class="dropdown-item" th:href="@{/community/free/update(fnum=${free.fnum})}">수정</a></li>
                        <li><a class="dropdown-item" style="cursor:pointer;" onClick="deletePost()">삭제</a></li>
                    </ul>
                </div>
                <!-- End ... -->
            </div>
            <hr style="height:1px; color:rgba(33, 37, 41, 0.6); margin: 0 20px;">
            <div class="card-body" style="padding:20px;">
                <!-- 본문 -->
                <p th:text="${free.fdetail}"></p>
                <img th:if="${free.ffile != null}" th:src="@{|/freeSecondhandFiles/${free.storefilename}|}" style="height:500px;">
                <!-- End 본문 -->
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <!-- 댓글 -->
                <div class="comments" th:each="comment : ${comment}">
                    <!-- 삭제된 원댓글 -->
                    <div class="comment" th:if="${comment.fcdetail == '삭제된 댓글입니다.'}">
                        <div class="d-flex" style="flex-direction:column;">
                            <div>
                                <h5><a class="comment" style="color:rgba(33, 37, 41, 0.6);">(삭제)</a></h5>
                                <p th:text="${comment.fcdetail}"></p>
                            </div>
                        </div>
                    </div>
                    <!-- End 삭제된 원댓글 -->
                    <!-- 원댓글 -->
                    <div class="comment" th:if="${comment.fclevel == 0} and ${comment.fcdetail != '삭제된 댓글입니다.'}">
                        <div class="d-flex" style="flex-direction:column;">
                            <div th:if="${free.mbnum != comment.mbnum}">
                                <h5><a class="comment" style="color:#198754;">익명</a></h5>
                                <p th:text="${comment.fcdetail}"></p>
                                <a style="color:rgba(33, 37, 41, 0.6);" th:text="${comment.fcdate}"></a>
                            </div>
                            <div th:if="${free.mbnum == comment.mbnum}">
                                <h5><a class="comment" style="color:#198754;">익명(글쓴이)</a></h5>
                                <p th:text="${comment.fcdetail}"></p>
                                <a style="color:rgba(33, 37, 41, 0.6);" th:text="${comment.fcdate}"></a>
                            </div>
                            <!-- ... | 답글, 수정, 삭제 -->
                            <div class="filter" style="position:absolute; right:5px;">
                                <a class="icon" href="#" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow" style="min-width:4rem;">
                                    <li><a class="dropdown-item replybutton" style="cursor:pointer;" th:unless="${mbnum == null}" th:onclick="reply(this,'reply-form',[[${comment.fcstep}]])">답글</a></li>
                                    <li><a class="dropdown-item updatebutton" style="cursor:pointer;" th:if="${comment.mbnum == mbnum}" th:onclick="updateComment(this,'update-form',[[${comment.fcnum}]])">수정</a></li>
                                    <li><a class="dropdown-item" th:if="${comment.mbnum == mbnum}" th:href="@{/community/free/deletecomment(fcnum=${comment.fcnum}, fnum=${comment.fnum})}">삭제</a></li>
                                </ul>
                            </div>
                            <!-- End ... -->
                            <!-- 답글 입력 창 (평소 display none, 답글 클릭 시 display block) -->
                            <div th:id="|reply-form ${comment.fcstep}|" class="reply-form" style="display:none; padding-left:40px;">
                                <form action="/community/free/replycomment" method="post">
                                    <input type="hidden" name="fnum" th:value="${free.fnum}">
                                    <input type="hidden" name="fcnum" th:value="${comment.fcnum}">
                                    <div style="display:flex; justify-content:space-between; align-items:center;">
                                        <textarea name="fcdetail" id="" class="form-control" style="height:40px; resize:none;" placeholder="답글을 입력하세요"></textarea>
                                        <div style="margin-left:10px;">
                                            <button type="submit" class="btn btn-success"><i class="bi bi-send"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- End 답글 입력 창 -->
                            <!-- 댓글 수정 창 (평소 display none, 답글 클릭 시 display block) -->
                            <div th:id="|update-form ${comment.fcnum}|" class="reply-form" style="display:none; padding-left:40px;">
                                <form action="/community/free/updatecomment" method="post">
                                    <input type="hidden" name="fnum" th:value="${free.fnum}">
                                    <input type="hidden" name="fcnum" th:value="${comment.fcnum}">
                                    <div style="display:flex; justify-content:space-between; align-items:center;">
                                        <textarea name="fcdetail" id="update-comment" class="form-control" style="height:40px; resize:none;" th:text="${comment.fcdetail}"></textarea>
                                        <div style="margin-left:10px;">
                                            <button type="submit" class="btn btn-success"><i class="bi bi-send"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- End 댓글 수정 창 -->
                        </div>
                    </div>
                    <!-- End 원댓글 -->
                    <!-- 답글 -->
                    <div class="comment comment-reply" th:if="${comment.fclevel > 0}">
                        <div class="d-flex" style="flex-direction:column;">
                            <div th:if="${free.mbnum != comment.mbnum}">
                                <h5><a class="comment">익명</a></h5>
                                <p th:text="${comment.fcdetail}"></p>
                                <a style="color:rgba(33, 37, 41, 0.6);" th:text="${comment.fcdate}"></a>
                            </div>
                            <div th:if="${free.mbnum == comment.mbnum}">
                                <h5><a class="comment">익명(글쓴이)</a></h5>
                                <p th:text="${comment.fcdetail}"></p>
                                <a style="color:rgba(33, 37, 41, 0.6);" th:text="${comment.fcdate}"></a>
                            </div>
                            <!-- ... | 수정, 삭제 -->
                            <div class="filter" style="position:absolute; right:5px;" th:if="${comment.mbnum == mbnum}">
                                <a class="icon" href="#" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow" style="min-width:4rem;">
                                    <li><a class="dropdown-item updateReply" style="cursor:pointer;" th:onclick="updateReply(this,'update-reply',[[${comment.fcnum}]])">수정</a></li>
                                    <li><a class="dropdown-item" th:href="@{/community/free/deletecomment(fcnum=${comment.fcnum}, fnum=${comment.fnum})}">삭제</a></li>
                                </ul>
                            </div>
                            <!-- End ... -->
                            <!-- 답글 수정 창 (평소 display none, 답글 클릭 시 display block) -->
                            <div th:id="|update-reply ${comment.fcnum}|" class="reply-form" style="display:none;">
                                <form action="/community/free/updatecomment" method="post">
                                    <input type="hidden" name="fnum" th:value="${free.fnum}">
                                    <input type="hidden" name="fcnum" th:value="${comment.fcnum}">
                                    <div style="display:flex; justify-content:space-between; align-items:center;">
                                        <textarea name="fcdetail" id="update-reply" class="form-control" style="height:40px; resize:none;" th:text="${comment.fcdetail}"></textarea>
                                        <div style="margin-left:10px;">
                                            <button type="submit" class="btn btn-success"><i class="bi bi-send"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- End 답글 수정 창 -->
                        </div>
                    </div>
                    <!-- End 답글 -->
                </div>
                <!-- End 댓글 -->
                <!-- 댓글 입력 창 -->
                <div class="reply-form">
                    <form action="/community/free/writecomment" method="post">
                        <input type="hidden" name="fnum" th:value="${free.fnum}">
                        <div style="display:flex; justify-content:space-between; align-items:center;">
                            <textarea name="fcdetail" id="comment-form" class="form-control" style="height:40px; resize:none;" placeholder="댓글을 입력하세요"></textarea>
                            <div style="margin-left:10px;">
                                <button type="submit" class="btn btn-success"><i class="bi bi-send"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- End 댓글 입력 창 -->
            </div>
        </div>


    </main><!-- End #main -->
</div>