<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/mylayout}">

<th:block layout:fragment="script">
    <script th:inline = "javascript">
      function deleteConfirm(){
         var answer = confirm("데이터를 삭제할까요?");
         return answer ? true : false;
      }

      <!--name이 rowcheck인 항목들을 전부 체크 상태로 만드는 함수-->
      function allselect(obj){
         //alert(1);
         var checkNum = document.getElementsByName('rowcheck');

          if(obj.checked){ // true
              for(var i=0; i<checkNum.length; i++){
                  checkNum[i].checked = true;
              }
          }else{ //
              for(var i=0; i<checkNum.length; i++){
                  checkNum[i].checked = false;
              }
          }
      }

      <!--선택한 항목만 삭제-->
      function selectDelete(){
         var rowchk = document.getElementsByName('rowcheck');
         var flag = false;

         for(i=0; i<rowchk.length; i++){
             if(rowchk[i].checked){
                 flag = true;
             }
         }

         <!--만약 한개도 체크하지 않고 선택삭제를 클릭하면 -->
         if(!flag){
             alert('삭제 항목을 한 개 이상 선택하세요.');
         }else{
             var check = confirm("정말 삭제하시겠습니까?");
             if(check == false){
               alert("삭제가 취소되었습니다.");
               return false;
             }

             //확인 클릭 시 실행
             document.myform.submit();
         }
      }

        function goToCsv() {
          window.location.href = "./oneservListCvs";
      }

       function goToSelect(num) {
          window.location.href = "./resignInsert" + "/" + num;
      }

      </script>
</th:block>

<body class="content" layout:fragment="content">
<main id="main" class="main">
    <div class="pagetitle">
        <h1>퇴직금 계산/대장</h1>
    </div><!-- End Page Title -->
    <form name="myform" action="/resign/checkDelete" method="post">
        <section class="section">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">개인 퇴직금 추계액</h5>
                            <!-- Table with stripped rows -->
                            <table class="table datatable">
                                <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" name="allcheck" onClick="allselect(this)">
                                    </th>
                                    <th scope="col">사원번호</th>
                                    <th scope="col">성명</th>
                                    <th scope="col">부서</th>
                                    <th scope="col">직급</th>
                                    <th scope="col">입사일</th>
                                    <th scope="col">퇴사일</th>
                                    <th scope="col">근무상태</th>
                                    <th scope="col">계산내역</th><!--개인 내역으로 이동-->
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="bean : ${member}">
                                    <th scope="row">
                                        <input type="checkbox" name="rowcheck" th:value="${bean.mbnum}">
                                    </th>
                                    <td th:text="${bean.mbnum}"></td>
                                    <td th:text="${bean.mbname}"></td>
                                    <td th:text="${bean.dept}"></td>
                                    <td th:text="${bean.mblevel}"></td>
                                    <td th:text="${bean.mbstartdate}"></td>
                                    <td th:text="${bean.mbenddate}"></td>
                                    <td th:text="${bean.mstate}"></td>
                                    <!--th:href="@{'/resign/oneList/' + ${bean.mbnum}}"-->
                                    <td><a type="button" class="btn btn-success" th:href="@{'/resignInsert/' + ${bean.mbnum}}">조회</a></td>
                                </tr>
                                </tbody>
                            </table>
                            <!-- End Table with stripped rows -->
                            <button type="button" class="btn btn-danger" onClick="return selectDelete()">선택항목 삭제</button>
                            <button type="button" class="btn btn-success" onClick="goToCsv();">CSV</button>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </form>
</main><!-- End #main -->
</body>