<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/mylayout}">
<head><title>PixelPro</title></head>

<body class="content" layout:fragment="content">
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Home</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="/home">Home</a></li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <div class="row">

    <div class="col-lg-2">
      <div class="row">

        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">근태관리</h5>

              출근완료

              버튼 -> 출근하기
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">진행중인 프로젝트</h5>


            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-lg-5">
      <div class="row">

        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">오늘의 일정</h5>

              <div id="HomeCalendar"></div>

            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">전자결재 진행현황</h5>

              <table class="table table-borderless">
                <thead>
                <tr>
                  <th scope="col">제목</th>
                  <th scope="col">진행상태</th>
                  <th scope="col">승인자</th>
                  <th scope="col">요청일</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-lg-5">
      <div class="row">

        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">공지사항</h5>

              <table class="table table-borderless">
                <thead>
                  <tr>
                    <th scope="col">제목</th>
                    <th scope="col">작성자</th>
                    <th scope="col">날짜</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="notices:${notices}">
                    <td><a th:href="@{'/notice/detail/'+ ${notices.nnum}}" th:text="${notices.ntitle}"></a></td>
                    <td th:text="${notices.mbname}"></td>
                    <td th:text="${notices.ndate}"></td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>

      </div>
    </div>

  </div>


</main><!-- End #main -->
</body>
