<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/mylayout}" xmlns="http://www.w3.org/1999/xhtml">


<head><title>PixelPro</title></head>

<body class="content" layout:fragment="content">
<main id="main" class="main">

    <div class="pagetitle">
        <h1>동아리</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a>커뮤니티</a></li>
                <li class="breadcrumb-item"><a href="/club/list">동아리</a></li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <form name="mylist" action="" method="post">

        <table class="table datatable">
            <thead>
            <tr>
                <th>번호</th>
                <th>카테고리</th>
                <th>제목</th>
                <th>조회수</th>
                <th>날짜</th>
            </tr>
            </thead>
            <tbody th:each="lists : ${lists}">
            <tr>
               <th scope="" style="text-align:center" th:text="${totalCount}"></th>
                <td th:text="${lists.clcategory}"></td>
                <td>
                    <a th:href="@{/club/detail(clnum=${lists.clnum})}" th:text="|${lists.cltitle}|"></a>
                </td>
                <td style="text-align:center" th:text="${lists.clview}"></td>
                <td style="text-align:center" th:text="${lists.cldate}"></td>
            </tr>

               <!--<td>
                    <label th:text="${lists.clnum}"></label>
                </td>
                <td>
                    <label th:text="${lists.clcategory}"></label>
                </td>
                <td>
                    <a th:href="@{/club/detail(clnum=${lists.clnum})}" th:text="|${lists.cltitle}|"></a>
                </td>
                <td>
                    <span th:text="${lists.clview}"></span>
                </td>
                <td th:text="${lists.cldate}"></td>
            </tr>-->
            </tbody>
        </table>
        <button type="button" style="float:right; margin-bottom:10px;" class="btn btn-success" onClick="location.href='/club/insert'">글쓰기</button>
    </form>

    <div class="card-footer clearfix" style="border-top:0">
        <ul class="pagination pagination-sm m-0" style="justify-content:center">
            <li class="page-item"><a class="page-link" th:href="@{/club/list(pageNumber=1)}">«</a></li>
            <li th:each="pageNumber : ${#numbers.sequence(1, totalPages)}" class="page-item">
                <a class="page-link" th:href="@{/club/list(pageNumber=${pageNumber})}" th:text="${pageNumber}"></a>
            </li>
            <li class="page-item"><a class="page-link" th:href="@{/club/list(pageNumber=${totalPages})}">»</a></li>
        </ul>
    </div>

</main><!-- End #main -->
</body>
</html>