<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/mylayout}" xmlns="http://www.w3.org/1999/xhtml">


<head><title>PixelPro</title></head>

<body class="content" layout:fragment="content">
<main id="main" class="main">

    <div class="pagetitle">
        <h1>동아리</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                <li class="breadcrumb-item"><a href="">커뮤니티</a></li>
                <li class="breadcrumb-item active"><a>동아리</a></li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <div class="card">
        <div class="card-body" style="display:flex; flex-direction:column;">
            <form name="mylist" action="" method="post">

                <table class="table datatable">
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th>카테고리</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>날짜</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="bean : ${club}">
                        <td style="text-align:center" th:text="${bean.clnum}"></td>
                        <td th:text="${bean.clcategory}"></td>
                        <td>
                            <a th:href="@{/club/detail(clnum=${bean.clnum})}" th:text="|${bean.cltitle}|"></a>
                        </td>
                        <td style="text-align:center" th:text="${bean.clwriter}"></td>
                        <td style="text-align:center" th:text="${bean.cldate}"></td>
                    </tr>
                    </tbody>
                </table>
                <button type="button" style="float:right; margin-bottom:10px;" class="btn btn-success"
                        onClick="location.href='/club/insert'">글쓰기
                </button>
            </form>

            <div style="text-align:center">
                <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
                    <a th:if="${page != nowPage}" th:href="@{/club/list(page = ${page - 1})}" th:text="${page}"></a>
                    <strong th:if="${page == nowPage}" th:text="${page}" style="color : #198754;"></strong>
                </th:block>
            </div>
        </div>
    </div>
</main><!-- End #main -->
</body>
</html>