<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/mylayout}">
<head><title>PixelPro</title></head>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        function submit() {

            document.myform.submit();
        }


    </script>
</th:block>
<th:block layout:fragment="css">
    <style>
        .fieldError{
            color: red;
            font-size: 11pt;
            padding: 5px 12px;
            margin-bottom: 0;
        }


    </style>
</th:block>
<div class="content" layout:fragment="content">
    <main id="main" class="main">

        <div class="pagetitle">
            <h1>게시글수정</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/home">Home</a></li>
                    <li class="breadcrumb-item"><a href="/notice/list">동아리</a></li>
                    <li class="breadcrumb-item active">게시글수정</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <form name="myform" method="post" action="/club/update"  enctype="multipart/form-data"
              th:object="${clubBean}" style="margin:5px 0;">
            <input type="hidden" name="clwriter" th:value="${ session.loginInfo.mbname }">
            <div class="card">
                <div class="card-body" style="display:flex; flex-direction:column;">
                    <div style="height:60px;">

                        <input type="hidden" th:field="*{clnum}">
                        <button type="button" class="btn btn-secondary"
                                style="float:right; margin-bottom:10px; margin-top:10px;"
                                onclick="location.href='/club/list'">취소
                        </button>
                        <input type="submit" id="submit" style="float:right; margin-top:10px; margin-bottom:10px; margin-right:7px;"
                               value="수정"
                               class="btn btn-success">
                    </div>
                    <div class="form-group" style="margin-top:25px;">
                        <!-- 글 쓰기 form -->

                        <div class="form-group">
                            <select class="form-select" aria-label="Default select example"
                                    th:field="${clubBean.clcategory}">
                                <option value="">카테고리를 선택하세요</option>
                                <option value="모집">모집</option>
                                <option value="문의">문의</option>
                                <option value="기타">기타</option>
                            </select>
                            <p th:if="${#fields.hasErrors('clcategory')}" th:errors="*{clcategory}"
                               class="fieldError"></p>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" th:field="${clubBean.cltitle}"
                                   placeholder="제목을 입력하세요.">
                            <p th:if="${#fields.hasErrors('cltitle')}" th:errors="*{cltitle}" class="fieldError"></p>
                        </div>

                        <div class="form-group">
                            <div class="custom-file" id="inputFile">
                                <input type="file" name="upload" id="upload" class="custom-file-input">
                                <label class="custom-file-label" th:field="*{cfilename}" th:text="*{cfilename}" for="upload">파일을 선택하세요.</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <textarea class="form-control" style="height:300px; resize:none;"
                                      th:field="${clubBean.cldetail}"></textarea>
                            <p th:if="${#fields.hasErrors('cldetail')}" th:errors="*{cldetail}" class="fieldError"></p>
                        </div>
                    </div>
                </div>
            </div>
        </form><!-- End 글 쓰기 form -->

    </main><!-- End #main -->
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script>
      $('.custom-file-input').on('change', function () {
        var fileName = $(this).val().split('\\').pop();
        $(this).siblings('.custom-file-label').addClass('selected').html(fileName);
      });






    </script>
</div>
</html>
