<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/mylayout}">


<head><title>PixelPro</title></head>

<th:block layout:fragment="script">
  <script th:inline = "javascript">
    function previous(){
      history.go(-1);
    }

    $(document).ready(function(){

        $('.impoCheck').click(function(){
            // alert('중요메일');

            var t = $(this);
            var inum = $(this).attr("id");

            $.ajax({
                url : '/mail/impo',
                type : 'POST',
                data : {"inum" : inum},
                success : function (data) {
                    if(data == "O"){
                        t.html('<i class="bx bxs-star"></i>'); // O
                    }else{
                        t.html('<i class="bx bx-star"></i>'); // X
                    }
                }
            }); // ajax

        });
    });

    </script>
</th:block>

<body class="content toggle-sidebar" layout:fragment="content">
<main id="main" class="main">

  <div class="pagetitle">
    <h1>메일 상세보기</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/mail/inbox">메일</a></li>
        <li class="breadcrumb-item active">메일 상세보기</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <div class="row">

    <div th:replace="mail/sideMenu::mail"></div>

    <!-- 오른쪽 컬럼 -->
    <div class="col-lg-10">
      <div class="card">
        <div class="card-body">

          <button type="button" class="btn btn-outline-light" onclick="previous()" style="color:#000000; margin-top: 20px;">
            <i class="bi bi-chevron-left"></i> 이전으로
          </button>

          <hr>
          <div>
            <button type="button" class="btn btn-outline-light" th:onclick="|location.href='@{/mail/reply(inum=${inbox.inum})}'|" style="color:#000000">답장</button>
            <button type="button" class="btn btn-outline-light" th:onclick="|location.href='@{/mail/relay(inum=${inbox.inum})}'|" style="color:#000000">전달</button>
            <button type="button" class="btn btn-outline-light" th:onclick="|location.href='@{/mail/deleteOne(inum=${inbox.inum})}'|" style="color:#000000">삭제</button>
          </div>
          <hr>

          <div style="margin-left: 10px;">

            <h5 >
              <span class="impoCheck" th:id="${inbox.inum}">
                <i th:if="${inbox.impo == 0}" class="bx bx-star " ></i>
                <i th:if="${inbox.impo != 0}" class="bx bxs-star " ></i>
              </span>
              <span class="card-title" th:text="${inbox.ititle}"></span>
            </h5>


            <div>
              <b>보낸사람</b>
              <span th:text="${fromMember.mbname + ' ( ' + fromMember.mblevel + ' ) ' + ' <' + fromMember.email + '>'}"></span>
            </div>

            <div>
              <b>받는사람</b>
              <span th:text="${toMember.mbname + ' ( ' + toMember.mblevel + ' ) ' + ' <' + toMember.email + '>'}"></span>
            </div>

            <div style="margin: 1% 0 1% 0; font-size: 13px; color: gray;">
              <span th:text="${inbox.senddate}"></span>
            </div>
          </div>

          <hr>

          <div th:if="${inbox.attach != null}">
            <strong style="margin-left: 10px;">첨부파일 : </strong>
            <a class="card-text" style="margin-left: 10px;"
               th:href="@{'/download/mail/' + ${inbox.attach}}"
               th:text="${inbox.attach}" ></a>
            <hr>
          </div>



          <div th:utext="${inbox.icontent}" style="margin-left: 10px;"></div>

        </div>
      </div>
    </div><!-- END 오른쪽 컬럼 -->
  </div>


</main><!-- End #main -->
</body>