<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/mylayout}">


<head><title>PixelPro</title></head>

<body class="content toggle-sidebar" layout:fragment="content">
<main id="main" class="main">

    <div class="pagetitle">
        <h1>메일쓰기</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/mail/inbox">메일</a></li>
                <li class="breadcrumb-item active">메일쓰기</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <div class="row">

        <div th:replace="mail/sideMenu::mail"></div>

        <!-- 오른쪽 컬럼 -->
        <div class="col-lg-10">
            <div class="card" >
                <div class="card-body">
                    <h5 class="card-title"></h5>
                        <button type="submit" class="btn btn-success" onclick="">보내기</button>
                        <button type="button" class="btn btn-outline-light" onclick="" style="color:#000000">임시저장</button>
                    <hr>
                    <div class="row">
                        <div class="col-1 col-form-label">
                            <label for="recipient">받는 사람</label>
                        </div>
                        <div class="col-10">
                            <input type="text" class="form-control" id="recipient">
                        </div>
                        <div class="col-1 col-form-label">
                            <button type="button" class="btn btn-outline-light btn-sm" onclick="" style="color:#000000">주소록</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1 col-form-label">
                            <label for="ititle">제목</label>
                        </div>
                        <div class="col-11">
                            <input type="text" class="form-control" id="ititle">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1 col-form-label">
                            <label for="attach">파일첨부</label>
                        </div>
                        <div class="col-11">
                            <input type="text" class="form-control" id="attach">
                        </div>
                    </div>
                    <hr>
                    <div class="quill-editor-default" style="height: 400px;">


                    </div>
                </div>
            </div>
        </div><!-- END 오른쪽 컬럼 -->
    </div>


</main><!-- End #main -->
</body>