<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/mylayout}">
<head><title>PixelPro</title></head>

<body class="content" layout:fragment="content">
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Mail</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Mail</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  !!! 파일생성 예시입니다.

</main><!-- End #main -->
</body>